{% extends "base.html" %}
{% block content %}

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        {% for err in error %}
        <li>{{err}}</li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{{base_path}}/newleague">
    <div class="form-group">
        <label>League name</label>
        <input class="form-control" value="{{league.name}}" type="text" name="name">
    </div>
    <div class="form-group">
        <label>Game</label>
        <input class="form-control" value="{{league.game}}" type="text" name="game">
    </div>
    <div class="form-group">
        <label>Platform:</label>
        <select class="form-control" name="platform">
            <option>Playstation 4</option>
            <option>Xbox One</option>
            <option>PC</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{% endblock %}